.cutecord-badges {
  background: none;
  display: inline-block;
}

.privateChannels-1nO12o .cutecord-badges {
  display: flex;
}

.privateChannels-1nO12o .cutecord-badges > span {
  margin-right: 7px;
}

.membersWrap-2h-GB4 .cutecord-badges {
  margin-left: 4px;
}

.cutecord-cute-user {
 display: inline;
 padding-left: 1em;
 background: url('https://canary.discordapp.com/assets/07302a0ce95bfc27d75e6d9748f7c3c4.svg') 50% no-repeat;
 background-size: contain;
}
